<div>
	<%= form_with model: Webpage.new do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.submit 'Create Webpage' %>
	<% end %>
</div>